# Dependencies
**/node_modules/
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Production Build Outputs
**/dist/
**/build/

# Environment and Local Configuration
.env
.env.local
.env.*.local

# IDE and OS Files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp